<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.roemsoft.download">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <application>

        <!-- 适配android7.0应用间共享文件FileProvider -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.roemsoft.download.xt"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
